mixin headline(text, options = {})
	-
		const {
			extraClass = "",
			tag = "h2"
		} = options;
		const baseClass = "my-5 text-blue text-4xl font-bold"
		

	#{tag}(class=`${baseClass} ${extraClass}`)= text

//- usage
	+headline("Teknoloji ve Dijital Dergisi", {tag: "h3", extraClass:"!text-[20px] text-left text-[#112053]"})