section.text
    .container
        h1.section-title Text content
        .text__content
            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit rhoncus ipsum, sed rhoncus ex consequat non. Maecenas ac diam ac velit sollicitudin fermentum et vel sapien. Morbi pulvinar lacinia fermentum. Etiam egestas risus diam, ut placerat sapien tristique a. Donec a tincidunt risus, imperdiet semper tortor. Phasellus leo est, dictum in accumsan commodo, aliquam eget risus. In at aliquet velit. Aliquam vitae suscipit massa, a aliquam nisi.
            |
            |Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Fusce ornare, enim in tincidunt iaculis, nisi magna semper sem, eu fermentum enim leo sed justo. Sed id accumsan nisl. Quisque pellentesque, nunc quis pretium scelerisque, lacus nulla posuere lectus, nec dictum neque urna in tellus. Pellentesque eget egestas neque. Sed luctus maximus leo nec eleifend. Cras vehicula, orci at volutpat iaculis, quam metus accumsan ligula, non sodales erat lacus nec nisl.

