section.top
    .container
        h1.section-title Vituum + Pug Template
        .top__content.flex
            img(src="/src/assets/img/top/Vituum.png")
            |+
            img(src="/src/assets/img/top/pug.svg")
