/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";
@import "./global.css";


body {
    background-color: #fff;
}

header.header {
    /* max-width: 1025px; */
    svg {
        height: auto;
        width: 100% !important;
    }
    .header__menu {
        display: flex;
        gap: 20px;
    }
}

.container {
	@apply max-w-[1300px] m-auto;
}