body {
	background-color: #fff;
}

@theme {
	--color-brand-primary: rgb(47, 112, 193);
	--color-brand-secondary: rgb(116, 97, 195);
	--color-brand-alternative: rgb(19, 120, 134);
	
	--color-background-site: rgb(249, 249, 249);
	--color-background-code: rgb(244, 244, 244);
	
	--color-text-body: rgb(54, 49, 61);
	--color-text-comment: rgb(99, 94, 105);
	--color-text-high-contrast: rgb(49, 49, 49);
	--color-text-medium-contrast: rgb(99, 94, 105);
	--color-text-low-contrast: rgb(116, 109, 118);
	
	--color-detail-high-contrast: rgb(192, 192, 192);
	--color-detail-medium-contrast: rgb(234, 234, 234);
	--color-detail-low-contrast: rgb(240, 240, 242);
	--color-admonition-note: rgb(46, 109, 188);
	
	--color-admonition-warning: rgb(255, 196, 9);
	--color-admonition-danger: rgb(220, 38, 38);
	
	--color-brand-primary-rgb-value: 47, 112, 193;
	--color-brand-secondary-rgb-value: 116, 97, 195;
	--color-brand-alternative-rgb-value: 19, 120, 134;
	
	--color-background-site-rgb-value: 249, 249, 249;
	--color-background-code-rgb-value: 244, 244, 244;
	
	--color-text-body-rgb-value: 54, 49, 61;
	--color-text-comment-rgb-value: 99, 94, 105;
	--color-text-high-contrast-rgb-value: 49, 49, 49;
	--color-text-medium-contrast-rgb-value: 99, 94, 105;
	--color-text-low-contrast-rgb-value: 116, 109, 118;
	
	--color-detail-high-contrast-rgb-value: 192, 192, 192;
	--color-detail-medium-contrast-rgb-value: 234, 234, 234;
	--color-detail-low-contrast-rgb-value: 240, 240, 242;
	
	--color-admonition-note-rgb-value: 46, 109, 188;
	--color-admonition-warning-rgb-value: 255, 196, 9;
	--color-admonition-danger-rgb-value: 220, 38, 38;
}
