extends  ../layouts/layout

block title
	| SiteTitle

block content
	h1 About
	img(src="../src/assets/img/1000_F_797828697_g7uQt2DKyTXSc37Tx6txU5GT402EnKv4.jpg", alt="robot")
	include ../sections/top
	include ../sections/text

