extends  ../layouts/layout



block content
	section
		.container.py-5(class="max-w-[" + siteWidth + "] m-auto")
			h1 Contact
			form(action="")
				div 
					label Name
					input(type="text") 
				div 
					label Surname 
					input(type="text")
				div 
					button(type="submit") Yallah


