//- variables
block variables

doctype html
html(lang="tr")
	head
		include ../includes/head
	body.theme-light(class="flex flex-col h-screen")

		include  ../includes/header
		main.main.m-auto(class="solutions w-full flex-grow")
			block content
		include ../includes/footer

